.plasma-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.plasma-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}
